h1 { position:relative; z-index: -1; text-align: center; }
h1 span{ position:absolute; top:-90px;}

h2 { position:relative; z-index: -1; text-align: center; }
h2 span{ position:absolute; top:-90px;}

#meni {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: white;
    min-width: 300px;
    background-color: yellow;
}

.gornji_meni {
    list-style-type: none;
    padding: 0;
    margin: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    min-width: 300px;
}

#meni li {
    text-align: center;
    margin: 0;
    padding: 0;
}

.rs {
    grid-column: span 2;
}

.donji_meni {
    display: grid;
    list-style-type: none;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
}


    

.ne_ide {
    background-color: gray;
}

.izborni {
    background-color: powderblue;
}

.predmeti {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-auto-rows: 200px;
    grid-gap: 10px;
    min-width: 300px;
    justify-content: center;
}

img {
    margin-top: 10px;
}

.redovni, .izborni, .ne_ide {
    border: 2px black solid;
    text-align: center;
    width: 200px;
    border-radius: 10px;
}

@media (max-width: 55rem) {
    #meni {
        position: static;
        background-color: white;
        margin: auto;
    }

    .gornji_meni {
        display: block;
    }

    #ri_naslov, #tk_naslov, #aie_naslov, #ee_naslov {
        margin-top: 50px;
    }

    .donji_meni {
        display: grid;
        grid-template-columns: 50px 50px 50px;
        column-gap: 5px;
        justify-content: center;
    }
}