.topnav {
    background-color: #333;
    overflow: hidden;
  }

  .topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  #tabela_prisustvo, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
    vertical-align: top;
}

#celija_sa_tabelom {
  padding: 0px;
}

#tabela_unutar_celije {
  border: 2px solid black;
  border-collapse: collapse;
  border-style: hidden;
}

th {
  text-align: left;
}

td {
  height: 30px;
}

.prisutan {
  background-color: #93C47D;
}

.odsutan {
  background-color: #E06666;
}

button {
  margin: 50px;
  padding: 10px;
  border: 2px solid black;
}

  