#tabela_prisustvo, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
    vertical-align: top;
}

#celija_sa_tabelom {
  padding: 0px;
}

#tabela_unutar_celije {
  border: 2px solid black;
  border-collapse: collapse;
  border-style: hidden;
}

th {
  text-align: left;
}

td {
  height: 30px;
}

.prisutan {
  background-color: #93C47D;
}

.odsutan {
  background-color: #E06666;
}

button {
  margin: 50px;
  padding: 10px;
  border: 2px solid black;
}
